@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
:root {
    --primary-color: #15c5e0;
    --secondary-color: #e2f3f0;
    --accent-color: #8fa054;
    --accent-color: #f5903d;

    --heading-font: 'Amiri', serif;
    --paragraph-font: 'Martel', serif;

    --nav-background-color: #ffc09f;
    --nav-link-color: #79addc;
    --nav-hover-link-color: #ffee93;
    --nav-hover-background: #adf7b6;
}

body {
    font-family: var(--paragraph-font);
    max-width: var(--960 pixels);
    padding: var(--20 pixel);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
   display: block;
   color: var(--nav-hover-link-color);
   text-decoration: none;
   padding: 1rem
}

nav a:link, nav a:visited{
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}